.header {
    background: blueviolet;
    width: 100%;
    height: 150px;
}
body{

    margin: 0px;
    max-width: 100%;
}
.logo{
    width: 25% ;
    
    

}
/*
.navbar{
    width: 50%;
    margin-left: 815px;;
    padding-left: 40px;
    font-family: sans-serif;
    font-size: 19px;
    float: left;
    color: white;
    padding: 16px;
  
}
*/

    

.heading{
    

    
    color: white;
    margin: 0px;
    margin-left: 125px;
    margin-top: -125px;
    font-family: 'UniqueRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(17, 16, 16);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:#0aebff;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

  /*
  .banner-bg{
    background:url(../images/gallery/2.jpeg) no-repeat center top;
  }
  .banner-bg, .banner-img, .banner-img2{
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    min-height:600px;
  }
  .banner-img{
    background:url(../images/gallery/1.jpg) no-repeat center top;
  
  }
  .banner-img2{
    background:url(../images/gallery/1.jpg) no-repeat center top;
  }
  .banner-info {
     text-align: center;
     padding:8em 0 0 0;
  }
  .banner-info h3{
    color: #FFF;
      font-size: 60px;
      font-weight: 500;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 15px;
  }
  .banner-info h3 span{
    display:block;
  }
  .banner-info p {
      color: #FFF;
      margin: 1em 0 2em;
      font-size: 20px;
      font-weight: 400;
  }
  .banner-info a{
    color:#FFF;
    background:#3AB8FF;
    padding: .7em 1.5em;
    text-decoration:none;
  }
  .banner-info a:hover i.icon_1{
    color:#2f374c;
  }
  .banner-info a:hover{
    background:#FFF;
    color:#2f374c;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }*/

  .center-section{
    
    margin-left: 250px;
    display: block;

  }
  .main-body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(237,237,241,0.7259278711484594) 0%, rgba(0,212,255,1) 100%);
width: 650%px;
height: 700%;
  }
  .mian-para{
    margin: 10px;
    margin-top: 10px;

  }
  .para{
    margin: 60px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-style: oblique;
  }

  .navbars{
    width: 50%;
    height: 47px;
    padding-left: 10px;
  }
.col-md-6 {
  margin-bottom:3em;
  padding-left: 0;
}
.box {
  overflow: hidden;
}
.footer{
	background:#f2f4f5;
	padding:5em 0;
}
table.table_working_hours {
    width: 100%;
}
.table_working_hours tr {
    border: 0;
    border-bottom: 1px dashed #656565;
}
.table_working_hours tr td {
    padding:7px 0;
    color: #777;
    font-size: 0.95em;
    text-transform: capitalize;
}
.table_working_hours tr.opened_1 td {
    padding:0 0 7px;
}
.table_working_hours tr td.day_value {
    padding-left: 3px;
}
.table_working_hours tr td.day_value {
    padding-left: 3px;
    text-align: right;
}
.table_working_hours tr.opened:hover td, .table_working_hours tr.opened_1:hover td {
    color:#e2598e;
}
.grid_4 h3{
	color:#000;
	font-size:1.5em;
	margin-bottom:1em;
	text-transform: uppercase;
}
.grid_4 p{
	color:#777;
	font-size:0.95em;
	line-height:1.8em;
	margin-bottom:1em;
}

.copy{
	margin:2em 0 0 0;
	text-align:center;
}
.copy p{
	color:#777;
	font-size:0.95em;
}
.copy p a{
	color:#000;
}
.copy p a:hover{
	color:#3AB8FF;
}
